<!DOCTYPE html>

<head>
  <title>Rona List</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 <link href="/styles.css" rel="stylesheet">
</head>

<body>
  <div class="todo-container">
    <h2>Coronavirus Productivity List</h2>
    <div class="todo">
      <form action="" method="POST" class="todo-header">
        <input type="text" name="content">
        <button type="submit">Submit</button>
      </form>
      <ul class="todo-list">
        <% todoTasks.forEach(details => { %>
        <% if (details._id == idTask) { %>
        <li class="todo-list-item">
          <form action="/edit/<%= details._id %>" method="POST">
            <input type="text" value="<%= details.content %>" name="content">
            <button type="submit">Confirm</button>
            <a href="/" class="cancel">Cancel</a>
          </form>
        </li>
        <% } else { %>
        <li class="todo-list-item">
          <div class="todo-list-item-name"><%= details.content %></div>
          <a href="/edit/<%= details._id %>" class="edit">
                    <button type="submit">Edit</button>
          </a>
          <a href="/remove/<%= details._id %>" class="remove">
                    <button type="submit">Remove</button>
          </a>
        </li>
        <% } %>
        <% }) %>
      </ul>
    </div>
  </div>
</body>
